@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #ffffff; /* fondo blanco */
  color: #1a3c34;           /* verde oscuro */
}

h1, h2, h3, p {
  margin: 0;
}

